header
    container.header__row
        .nav
            menu 
                a(href="#") Home
                a(href="#") Home
                a(href="#") Home
                a(href="#") Home
                a(href="#") Home
                a(href="#") Home
            snan.close(id="nav-close") X
        span.burger(id="nav-open") =